{% extends 'empanadas/base.html' %} 

{% block title %}Renouvellement du mot de passe{% endblock %} 
{% block main %} 
<h2>Mot de passe oublie ?</h2> 
<p> Saississez votre adresse email ci-dessous. 
    Nous vous enverrons un message avec les instructions 
    et un lien pour changer votre mot de passe. 
</p> 
<form id="form_password_reset" method="post"> 
    {% csrf_token %}
    <div class="m-3">

    <label for="id_email" class="form-label">Email</label> 
        <input id="id_email" type="email" name="email" required class="form-control"/> 
    </div> 
    <button type="submit" class="btn btn-primary">Changer de mot de passe</button> 
</form> 
{% endblock %} 

