{% extends 'empanadas/base.html' %} 

{% block title %}Renouvellement du mot de passe{% endblock %} 
{% block main %} 
{% if validlink %} 
<h2>Saisie du nouveau mot de passe</h2> 
<p> Veuillez saisir deux fois votre nouveau mot de passe. </p> 
<form id="form_password_reset" method="post">
    {% csrf_token %} 
    {% if form.errors %}
        <div class="alert alert-danger">
            {% for field in form %}
                {% for error in field.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}
    <div class="m-3"> 
        <label for="id_new_password1" class="form-label">Nouveau mot de passe</label> 
        <input id="id_new_password1" type="password" name="new_password1" required class="form-control"/> 
    </div> 
    <div class="m-3"> 
        <label for="id_new_password2" class="form-label">Confirmer le nouveau mot de passe</label> 
        <input id="id_new_password2" type="password" name="new_password2" required class="form-control"/> 
    </div> 
    <button type="submit" class="btn btn-primary">Changer de mot de passe</button> 
</form> 
{% else %}
    <h2>Echec de la réinitialisation</h2> 
    <p>Le lien est invalide. Veuillez reessayer.</p> 
{% endif %}
{% endblock %} 
