{% extends 'empanadas/base.html' %}

{% block title %}Détail d'une empanada{% endblock %}

{% block main %}
<h2>{{empanada}}</h2>
<div class="m-3">
    <figure class="w-25 text-center m-auto">
        <img src="{{MEDIA_URL}}{{empanada.image}}" class="image-fluid" style="width: 75%;"/>
    </figure>
</div>
<div class="m-3">
    <table class="table table-sm table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Ingrédient</th>
                <th>Quantité</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for ingr, qt in recette.items %}
            <tr>
                <td>{{ingr.nomIngredient}}</td>
                <td>{{qt}} gr</td>
                {% if user.is_staff %}
                    <td><a href="/empanada/{{empanada.idEmpanada}}/deleteIngredient/{{ingr.idIngredient}}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                        </svg>
                    </a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% if user.is_staff %}
    <h2>Ajouter un ingrédient à la recette</h2>
    <form action="/empanada/{{empanada.idEmpanada}}/addIngredient" method="POST">
        {% csrf_token %}
        <div class="m-3">
            <label for="id_ingredient" class="form-label">
                Ingrédient
            </label>
            <select id="id_ingredient" name="ingredient" class="form-select" required>
                <option selected disabled>Choisir</option>
                {% for ingr in ingredients %}
                <option value="{{ingr.idIngredient}}">{{ingr.nomIngredient}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="m-3">
            <label for="id_quantite" class="form-label">
                Quantité
            </label>
            <input id="id_quantite" name="quantite" type="text" maxlength="100" required class="form-control"/>
        </div>
        <button type="submit" class="btn btn-primary" style="margin-bottom: 5%;">Ajouter</button>
    </form>
{% endif %}
{% endblock %}