<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Les ingrédients</title>
</head>
<body>
    <header>
        <nav>
            <div> <a href="/empanadas">les empanadas</a> </div>
            <div> <a href="/ingredients">les ingrédients</a> </div>
        </nav>
    </header>
    <main>
        <h2>Voici nos {{ingredients|length}} ingrédients</h2>
        <ul>
            {% for ingr in ingredients %}
            <li>{{ingr}}</li>
            {% endfor %}
        </ul>
    </main>
    <footer>- Tienda Django Di Columbia -</footer>
</body>
</html>